:root {
    --moonstone-light: #8FD8E0;
    --moonstone: #0FA3B1;
    --moonstone-dark: #0D8A96; 
    --moonstone-muted: #0B7A86;

    --atomic-tangerine: #F7A072;
    --atomic-tangerine-dark: #E0875A;

    --state-blue: #7D53DE;
    --state-blue-dark: #5E3AC4;

    --mint-cream: #f5fffa;
    --mint-cream-dark: #c2d8c9;
    --mint-cream-darker: #8fb09a;
}

body {
    background-color: var(--mint-cream);
    font-family: 'Inter', sans-serif;
}

#score-title {
    text-align: center;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

#scoreboard {
    text-align: center;
    font-size: 36px;
    margin: 16px;
    padding: 0;
}

.game {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(75vw - 800px);
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-left: 50px;
}

.button-choice {
    width: 200px;
    height: 250px;
    font-size: 128px;
    background-color: var(--mint-cream);
    border: 0;
    border-radius: 16px;
    transition: background-color ease 250ms;
}

.button-choice:hover {
    background-color: var(--mint-cream-dark);
}

.button-choice:active {
    transition: none;
    background-color: var(--mint-cream-darker);
}

.button-choice.active {
    background-color: var(--mint-cream-darker) !important;
}

.button-choice.passive {
    background-color: var(--mint-cream) !important;
}


#robot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    font-size: 128px;
    background-color: var(--mint-cream);
    border: 0;
    border-radius: 16px;
}

#output-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.victory, .defeat, .draw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 128px;
    font-size: 18px;
    border-radius: 12px;
}

.victory {
    background-color: var(--state-blue-dark);
}

.draw {
    background-color: #696969;
}

.defeat {
    background-color: var(--atomic-tangerine-dark);
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 128px;
    font-size: 18px;
    border-radius: 12px;
    border: 0;
    background-color: var(--mint-cream);
    transition: background-color ease 0.3s;
}

.reset:hover {
    background-color: var(--mint-cream-dark);
}

.reset:active {
    transition: none;
    background-color: var(--mint-cream-darker);
}

#output-div {
    margin-top: 24px;
}